* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 70px;
  background-color: #ec715f;
}

.container {
  width: 1024px;
  height: 70px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
}

.container > :first-child {
  margin-right: auto;
}

a {
  height: 70px;
  text-decoration: none;
}

img {
  height: 70px;
}

nav {
  height: 70px;
}

.nav-box {
  height: 70px;
  display: flex;
}

.nav-list {
  list-style: none;
  line-height: 70px;
  font-size: 16px;
  color: #fafafa;
  padding: 0 30px;
}

/* main-visual */
.main-visual {
  background-image: url(img/mv.png);
  background-size: center;
  background-position: bottom;
  width: 100%;
  height: 650px;
}

.main-title {
  padding-top: 200px;
  text-align: center;
  font-size: 64px;
  color: #fafafa;
}

.main-text {
  width: 100%;
  padding-top: 10px;
  text-align: center;
  font-size: 20px;
  color: #fafafa;
}

/* portfolio */
.portfolio {
  width: 100%;
  height: 870px;
  background-color: #eceff1;
}

.portfolio-container {
  width: 920px;
  margin: 0 auto;
  text-align: center;
}

.portfolio-heading {
  font-size: 32px;
  color: #000;
  padding-top: 90px;
  text-align: center;
}

.portfolio-heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #ec715f;
  margin: 8px auto 0 auto;
}

.portfolio-heading-text {
  padding-top: 30px;
  font-size: 16px;
  color: #000;
}

.portfolio-box {
  width: 920px;
  height: 510px;
  margin: 30px auto 90px;
}

.portfolio-box1 {
  background-image: url(img/sketch.jpg);
  width: 300px;
  height: 250px;
  background-size: cover;
  float: left;
  margin-right: 10px;
}

.portfolio-box2 {
  background-image: url(img/websuku.png);
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  float: left;
  margin-right: 10px;
}

.portfolio-box3 {
  background-image: url(img/write.jpg);
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  float: left;
}

.portfolio-box4 {
  background-image: url(img/webcamp.png);
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.portfolio-box5 {
  background-image: url(img/talk.jpg);
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  float: left;
  margin-right: 10px;
  margin-top: 10px;
}

.portfolio-box6 {
  background-image: url(img/webcamp-mother.png);
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  float: left;
  margin-top: 10px;
}

/* Feature */
.feature {
  width: 100%;
  height: 870px;
}

.feature-container {
  width: 980px;
  margin: 0 auto;
  text-align: center;
}

.feature-heading {
  font-size: 32px;
  color: #000;
  padding-top: 90px;
}

.feature-heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #ec715f;
  margin: 8px auto 0 auto;
}

.feature-heading-text {
  padding-top: 30px;
  font-size: 16px;
  color: #000;
}

.feature-box {
  width: 980px;
  height: 330px;
  margin: 30px auto 90px;
  display: flex;
  justify-content: center;
}

.feature-box1 {
  width: 320px;
  height: auto;
  margin-right: 10px;
}

.feature-box2 {
  width: 320px;
  height: auto;
  margin-right: 10px;
}

.feature-box3 {
  width: 320px;
  height: auto;
}

.fas {
  font-size: 60px;
  position: relative;
  left: 140px;
}

.strength {
  margin: 10px auto;
  font-size: 20px;
  color: #000;
  text-align: center;
}

.strength-text {
  font-size: 16px;
  color: #000;
  text-align: left;
}

/* Profile */
.profile {
  width: 100%;
  height: 610px;
  background-color: #eceff1;
}

.profile-container {
  width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.profile-heading {
  font-size: 32px;
  color: #000;
  padding-top: 90px;
}

.profile-heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #ec715f;
  margin: 8px auto 0 auto;
}

.profile-heading-text {
  padding-top: 30px;
  font-size: 16px;
  color: #000;
}

.profile-box {
  width: 1024px;
  height: 250px;
  margin: 30px auto 90px;
  display: flex;
}

.profile-img {
  width: 512px;
  text-align: center;
}

.my-icon {
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

.profile-text {
  width: 512px;
}

.my-name {
  font-size: 20px;
  padding-bottom: 5px;
}

.my-name-text {
  font-size: 16px;
  color: #000;
  text-align: left;
}

.my-skills {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
}

.my-skill-text {
  font-size: 16px;
  color: #000;
  text-align: left;
}

/* Contact */
.contact {
  width: 100%;
  height: 500px;
}

.contact-container {
  width: 1024px;
  margin: 0 auto;
  text-align: center;
}

.contact-heading {
  font-size: 32px;
  color: #000;
  padding-top: 90px;
}

.contact-heading::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background-color: #ec715f;
  margin: 8px auto 0 auto;
}

.contact-heading-text {
  padding-top: 30px;
  font-size: 16px;
  color: #000;
}

.contact-box {
  width: 800px;
  height: 140px;
  margin: 30px auto 90px;
}

.left-box {
  width: 50%;
  text-align: left;
  margin: 0 auto;
  float: left;
}

.left-text-box {
  width: 170px;
  margin: 0 auto;
  text-align: center;
}

.mail {
  font-size: 20px;
  padding-bottom: 5px;
  text-align: left;
}

.mail-address {
  font-size: 16px;
  text-align: left;
}

.tel {
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
  text-align: left;
}

.tel-number {
  font-size: 16px;
  text-align: left;
}

.right-box {
  width: 50%;
  float: right;
}

.right-sns-box {
  width: 210px;
  margin: 0 auto;
}

.sns {
  font-size: 20px;
  margin-bottom: 5px;
}

.fab {
  display: inline-block;
  font-size: 50px;
  margin-right: 20px;
}

/*footer*/
footer {
  width: 100%;
  height: 60px;
  background-color: #ec715f;
  text-align: center;
  line-height: 60px;
}

.copyright {
  font-size: 16px;
  color: #fafafa;
}

/*レスポンシブ対応*/
@media screen and (max-width: 768px) {
  header {
    width: 100%;
    height: 50px;
  }

  .container {
    width: 90%;
    height: 50px;
  }

  img {
    height: 50px;
    margin-left: 5%;
  }

  .hamburger {
    width: 40px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5%;
    border: 1px solid #fafafa;
    float: right;
  }

  /*メニュー線の1を調整*/
  .bar:first-child {
    margin-top: 10px;
  }

  /*メニューの線を指定*/
  .bar {
    display: block;
    width: 25px;
    height: 2px; /*線の太さになる*/
    margin: 5px auto;
    background-color: #fafafa;
  }

  .nav-list {
    display: none;
  }

  .main-visual {
    background-image: url(img/code.png);
    background-position: top;
  }

  .main-title {
    width: 90%;
    margin: auto 5%;
    font-size: 40px;
  }

  .main-text {
    width: 90%;
    margin: auto 5%;
    font-size: 18px;
  }

  .portfolio {
    height: 1190px;
  }

  .portfolio-container {
    width: 90%;
    margin: 0 5%;
  }

  .portfolio-box {
    width: 90%;
    height: auto;
    display: block;
    justify-content: center;
  }

  .portfolio-box1 {
    display: none;
  }

  .portfolio-box2 {
    float: none;
    margin: 0 auto 10px auto;
  }

  .portfolio-box3 {
    display: none;
  }

  .portfolio-box4 {
    float: none;
    margin: 0 auto 10px auto;
  }

  .portfolio-box5 {
    display: none;
  }

  .portfolio-box6 {
    float: none;
    margin: 0 auto;
  }

  .feature {
    height: 1430px;
  }

  .feature-container {
    width: 90%;
    margin: 0 5%;
  }

  .feature-box {
    width: 90%;
    height: 1000px;
    display: block;
    justify-content: center;
  }

  .feature-box1 {
    margin: 0 auto 10px;
  }

  .feature-box2 {
    margin: 0 auto 10px;
  }

  .feature-box3 {
    margin: 0 auto;
  }

  .profile {
    height: 910px;
  }

  .profile-container {
    width: 90%;
    margin: 0 5%;
  }

  .profile-box {
    width: 90%;
    height: auto;
    display: block;
  }

  .profile-img {
    width: 100%;
  }

  .profile-text {
    width: 100%;
  }

  .my-name {
    text-align: center;
  }

  .my-name-text {
    text-align: center;
  }

  .my-skills {
    text-align: center;
  }

  .my-skill-text {
    text-align: center;
  }

  .contact {
    height: 680px;
  }

  .contact-container {
    width: 90%;
    margin: 0 5%;
    text-align: center;
  }

  .contact-box {
    width: 100%;
    height: 260px;
  }

  .left-box {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    float: none;
  }

  .mail {
    text-align: center;
  }

  .mail-address {
    text-align: center;
  }

  .tel {
    text-align: center;
  }

  .tel-number {
    text-align: center;
  }

  .right-box {
    width: 100%;
    float: center;
  }

  .right-sns-box {
    text-align: center;
  }
}

.sns {
  margin-top: 20px;
}

.fab:last-child {
  margin-right: 0;
}

footer {
  height: 60px;
}
